$greyText: #343434;

*, html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 1.4;
    color: $greyText;
}

html {
    height: 100%;
    //background-color: bisque;
}

// body, #root, .App {
//     //height: 100%;
// }

body {
    background: rgb(104,45,185);
    background: linear-gradient(320deg, rgba(103, 45, 185, 0.507) 0%, rgba(204, 29, 29, 0.459) 100%);
}

.centerVertically {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    height: 100%;
    background-color: yellow;
}