$greyText: #343434;

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.Question {
    padding: 30px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    height: calc(100% - 92px - 60px);

    .questionBar {
        display: flex;
        font-size: 22px;

        .category {
            margin-right: 35px;
            color: rgb(54, 36, 95);
        }

        .difficulty {
            color: rgb(173, 173, 173);
            text-transform: capitalize;
        }
    }

    .results {
        margin-top: 20px;
        width: 100%;
        text-align: center;

        .result {
            margin-top: 50px;
            animation: fadeIn 0.5s;
        }
        .result.correct {
            color: green;
            b { color: green; font-weight: bold; }
        }
        .result.incorrect {
            color: rgb(146, 30, 30);
            b { color: rgb(146, 30, 30); font-weight: bold; }
        }

        .submitQuestion {
            margin: 0 auto;
            margin-top: 30px;
            font-weight: 300;
            text-transform: none;
            padding: 15px 45px;
            font-size: 27px;
            color: white;
            background-color: $greyText;
            border-radius: 16px;
            border: none;
            cursor: pointer;    
            animation: fadeIn 0.5s;
        }
    }

    .question {
        padding: 20px 0;
        font-weight: 500;
    }

    .answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
        font-size: 35px;
        grid-gap: 15px;
        margin: 0 auto;
        margin-top: 5px;
        

        .answer {
            cursor: pointer;
            padding: 25px;
            border-radius: 5px;
            background-color: rgb(233, 233, 233);
            transition-duration: 0s;
        }
        .answer:hover {
            background-color: rgb(218, 218, 218);
        }

        .answerActive {
            background-color: $greyText;
            color: white;
            transition: 0s;
        }
        .answerActive:hover {
            background-color: $greyText;
        }
    }
}