$greyText: #343434;

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.Startup {
    animation: fadeIn 1s;
    position: relative;
    margin: 0 auto;
    padding: 80px 0;
    width: 490px;
    text-align: center;
    //box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.24);
    top: 100px;
    border-radius: 22px;
    background-color: white;

    .loginBtn {
        padding: 15px 45px;
        text-transform: none;
        font-weight: 700;
        font-size: 27px;
        color: white;
        background-color: $greyText;
        border-radius: 22px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: -(67px / 2);
        right: -16px;

    }

    .backBtn {
        padding: 0 15px;
        padding-top: 8px;
        text-transform: none;
        font-weight: 700;
        font-size: 27px;
        color: white;
        background-color: $greyText;
        border-radius: 22px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: -(67px / 2);
        right: -16px;
        height: 67px;

        svg {
            width: 40px;
            path {
                stroke: white;
            }
        }
    }

    h1 {
        text-align: center;
        font-size: 80px;
        font-weight: 700;
        padding-bottom: 30px;
    }

    .inputs {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 64px;
        text-align: left;

        .startBtn {
            padding: 15px 45px;
            text-transform: none;
            font-weight: 700;
            font-size: 27px;
            color: white;
            background-color: $greyText;
            border-radius: 16px;
            border: none;
            cursor: pointer;
            width: auto;
            margin: 0 auto;
        } 

        .inputArea {
            margin-bottom: 32px;
            width: 100%;
        }

        .errorMessage {
            font-size: 18px;
            text-align: center;
            margin: 20px;
            margin-top: -5px;
            cursor: pointer;
            color: rgb(224, 34, 91);
        }

        .loginType {
            font-size: 20px;
            text-decoration: underline;
            text-align: center;
            margin: 50px;
            margin-bottom: 0;
            cursor: pointer;
        }
    }
}