$greyText: #343434;

.Startup {
    position: relative;
    margin: 0 auto;
    padding: 80px 0;
    width: 490px;
    text-align: center;
    //box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.24);
    margin-top: 100px;
    border-radius: 22px;
    background-color: white;

    h1 {
        text-align: center;
        font-size: 80px;
        font-weight: 700;
        padding-bottom: 30px;
    }

    .startBtn {
        padding: 15px 45px;
        text-transform: none;
        font-weight: 700;
        font-size: 27px;
        color: white;
        background-color: $greyText;
        border-radius: 16px;
        border: none;
        cursor: pointer;
    } 

    .inputs {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 64px;
        text-align: left;

        .inputArea {
            margin-bottom: 32px;
            width: 100%;
        }
    }
}